.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "sidebar header"
                         "sidebar main-content";
    grid-template-rows: auto 1fr;

    min-height: 100vh;
}



.sidebar {
    border: solid 2px black;;
    grid-area: sidebar;
}

.sidebar_heading {
    border: solid 2px black;
    display: flex;
    align-items: center;
    /* justify-content: start; */
    gap: .5rem;
}

.main_content {
    border: solid 2px black;;
    grid-area: main-content;
}

.header {
    border: solid 2px black;;
    grid-area: header;
}

ul {
  list-style-type: none;
}