.dashboard {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "sidebar header"
                         "sidebar main-content";
    grid-template-rows: auto 1fr;

    min-height: 100vh;
}



.sidebar {
    border: solid 2px black;
    grid-area: sidebar;
}

.sidebar_heading {
    border: solid 2px black;
    display: flex;
    align-items: center;
    /* justify-content: start; */
    gap: .5rem;
    padding-left: 1rem;
}

.main_content {
    border: solid 2px black;;
    grid-area: main-content;
}

.header {
    display: grid;
    grid-template-rows: auto auto;
    border: solid 2px black;;
    grid-area: header;
    gap: 1.5rem;
    padding: 1rem;
}

.top_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 2rem; */
    border: solid 2px black;
    
}

.search_area {
    display: flex;
    gap: 1rem;
    flex: 1;

}

.search_bar {
    border: solid 2px black;
    padding: .5rem;
    width: 1000%;
    flex: .75;
    border-radius: 50px;
    
}

.user_info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-right: 1rem;

}

.bottom_nav {
    display:grid;
    grid-template-columns: 3fr 1fr;
    
    
}

.greeting{
   display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.greeting p {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

.greeting h2 {
    margin: 0;
    font-size: 1.75rem;           /* a bit larger for impact */
    font-weight: bold;
    line-height: 1.2;
}

.buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.sidebar_links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: stretch;
  justify-content: space-around;
}
.sidebar_links a {
    display: block;             /* makes link full width */
    padding: 0.75rem 1rem;
    text-decoration: none;
    border-radius: 8px;
}
.sidebar_sublinks a{
    display: block;             /* makes link full width */
    padding: 0.75rem 1rem;
    text-decoration: none;
    border-radius: 8px;..
}